.dropbutton {
  border: none;
  background-color: rgb(170, 240, 250);
  font-family: 'Cinzel', serif;;
  font-size: 20px;
}
.dropsdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropsdown-content a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  background-color: rgb(190, 245, 250);
}
a:link {
  color: black;
}
a:visited {
  color: black;
  text-decoration: none;
}
.dropsdown:hover .dropsdown-content {display: block;}
.table1 {
  border: solid black;
  text-align: left;
  background-color: rgb(170, 240, 250);
}
#tdtop {
  text-align: left;
  height: 50px;
  width: 1885px;
  padding-left: 10px;
}
h1 {
  text-align: center;
  color: rgb(185, 255, 200);
  font-size: 60px;
  font-family: 'Great Vibes', cursive;
}
h3 {
  text-align:center;
  color: rgb(185, 255, 200);
  font-size: 27px;
  font-family: 'Srisakdi', cursive;
}
body {
  text-align: center;
  font-size: 20px;
  background-color: black;
  color: rgb(230, 170, 250);
}
ul {
  text-align: center;
  list-style-position: inside;
  font-family: 'Srisakdi', cursive;
}
td {
  text-align: center;
  width: 260px;
  height: 60px;
}
p {
  font-family: 'Cinzel', serif;
}
img {
  height: 175px;
  width: 500px;
}
.links {
  font-size: 15px;
  color: rgb(230, 170, 250);
}
.dropbtn {
  border: none;
  background-color: black;
  font-size: 20px;
  font-family: 'Cinzel', serif;
  color: rgb(230, 170, 250);
}
.dropdown-content {
  display: none;
  position: center;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: rgb(230, 170, 250);
}
.dropdown-content p{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: black;
  color: rgb(230, 170, 250);
}
.dropdown:active .dropdown-content {
  display: block;
}
.table2 {
  width: 500px;
}
img.pic:hover {
  width: 550px;
  height: 225px;
  transition: height 1s, width 1s, filter 1s;
}
#rectangle {
  transition: 1s, 1s, 1s;
}
img#rectangle:active {
    transform: rotate(360deg);
    width: 550px;
    height: 225px;
}
